<div class="m-4">
  <button
    routerLink="/dashboard/classes"
    mat-button
    color="primary">
    <mat-icon fontIcon="arrow_back"></mat-icon>
    <span>All Classes</span>
  </button>
</div>

<div class="m-4 center-flex" *ngIf="!classDetail; else classInfo">
  <mat-spinner></mat-spinner>
</div>

<ng-template #classInfo>
  <div class="m-4">
    <mat-list role="list">
      <mat-list-item role="listitem"><strong>Class Id:</strong> {{ classDetail?.id }}</mat-list-item>
      <mat-list-item role="listitem"><strong>Class Name:</strong> {{ classDetail?.name }}</mat-list-item>
      <mat-list-item role="listitem"><strong>Description:</strong> {{ classDetail?.description }}</mat-list-item>
      <!-- Admin-only section to display enrolled students -->
    </mat-list>
    <div class="m-lg-3" *ngIf="authService.authUser | async | isAdmin" role="listitem">
      <strong>Enrolled Students:</strong>
      <ul *ngIf="classDetail?.students?.length; else noStudents">
        <li *ngFor="let studentId of classDetail?.students">{{ getStudentName(studentId) }}</li>
      </ul>
      <ng-template #noStudents><p>No students enrolled.</p></ng-template>
    </div>
  </div>
</ng-template>
