<div class="m-4">
  <button routerLink="/dashboard/students" mat-button color="primary">
    <mat-icon fontIcon="arrow_back"></mat-icon>
    <span>All Students</span>
  </button>
</div>

<div class="m-4 center-flex" *ngIf="!student; else studentDetails">
  <mat-spinner></mat-spinner>
</div>

<ng-template #studentDetails>
  <div class="m-4">
    <h3>Student Details</h3>
    <mat-list role="list">
      <mat-list-item role="listitem"><strong>Student Id:</strong> {{ student?.id }}</mat-list-item>
      <mat-list-item role="listitem" *ngIf="student"><strong>Full Name:</strong> {{ student | studentFullName }}
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Created at:</strong> {{ student?.createdAt | date }}</mat-list-item>
      <mat-list-item role="listitem"><strong>Email:</strong> {{ student?.email }}</mat-list-item>
    </mat-list>
  </div>

  <div class="m-4">
    <h3>Enrolled Courses</h3>
    <mat-list *ngIf="enrolledCourses.length > 0" role="list">
      <mat-list-item *ngFor="let course of enrolledCourses" role="listitem">
        <div class="d-flex align-items-center justify-content-between">
          <strong>{{ course.name }}</strong>
          <button mat-icon-button color="warn" (click)="removeEnrollment(course.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <p *ngIf="enrolledCourses.length === 0">This student is not enrolled in any courses.</p>
  </div>

  <div class="m-4">
    <mat-form-field class="full-width">
      <mat-label>Enroll in Course</mat-label>
      <mat-select [(value)]="selectedCourseId" (selectionChange)="enrollStudent()">
        <mat-option *ngFor="let course of availableCourses" [value]="course.id">
          {{ course.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>
