<div class="m-4">
  <h2>Classes</h2>
  <button mat-button color="primary" *ngIf="isAdmin$ | async" (click)="openClassDialog()">
    <mat-icon>add</mat-icon>
    <span>Add Class</span>
  </button>

  <mat-spinner *ngIf="loadingClasses"></mat-spinner>

  <table mat-table [dataSource]="dataSource" *ngIf="!loadingClasses">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let class"> {{ class.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let class"> {{ class.name }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let class"> {{ class.description }} </td>
    </ng-container>

    <ng-container matColumnDef="students" *ngIf="isAdmin$ | async">
      <th mat-header-cell *matHeaderCellDef> Students </th>
      <td mat-cell *matCellDef="let class">
        <ul *ngFor="let studentId of class.students">
          <li>{{ getStudentName(studentId) }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let class">
        <button mat-icon-button (click)="viewDetails(class)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isAdmin$ | async" (click)="openClassDialog(class)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isAdmin$ | async" (click)="deleteClass(class)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
