<h1 mat-dialog-title>{{ data.editThisClass ? 'Edit Class' : 'Add Class' }}</h1>
<div class="class-form" mat-dialog-content>
  <form [formGroup]="classForm">
    <div class="row">
      <mat-form-field>
        <mat-label>Class Name</mat-label>
        <input matInput formControlName="name"/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" style="height: 25vh;"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div class="row">
    <div class="end-flex">
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button color="primary" [disabled]="!classForm.valid" (click)="submitClassData()">
        {{ data.editThisClass ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</div>
