<mat-list role="list">
  <mat-list-item role="listitem">
    <button
      routerLinkActive="mat-accent"
      routerLink="home"
      mat-button
      color="primary">
      <mat-icon fontIcon="home"></mat-icon>
      <span>Home</span>
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      routerLinkActive="mat-accent"
      routerLink="students"
      mat-button
      color="primary">
      <mat-icon fontIcon="person"></mat-icon>
      <span>Students</span>
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      routerLinkActive="mat-accent"
      routerLink="courses"
      mat-button
      color="primary">
      <mat-icon fontIcon="books"></mat-icon>
      <span>Courses</span>
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      (click)="logout()"
      mat-button
      color="primary">
      <mat-icon fontIcon="logout"></mat-icon>
      <span>Log out</span>
    </button>
  </mat-list-item>
</mat-list>
