.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-card {
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
}

.register-actions {
  text-align: end;
}

.login-link {
  color: #3f51b5;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
