<div class="m-4">
  <div class="row">
    <div class="col">
      <span appTitle>Courses:</span>
    </div>
  </div>
  <div class="center-flex mt-4" *ngIf="loadingCourses; else showCourses">
    <mat-spinner/>
  </div>
  <ng-template #showCourses>
    <div class="row mt-2">
      <div class="col">
        <button mat-button color="primary" (click)="addCourse()" *ngIf="authService.authUser | async | isAdmin">
          <mat-icon fontIcon="add"></mat-icon>
          <span>Add new course</span>
        </button>
      </div>
    </div>
    <div class="mt-4 d-flex flex-wrap gap-3" *ngIf="courses">
      <div *ngFor="let course of courses">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ course.details }}</p>
          </mat-card-content>
          <mat-card-footer class="example-card-footer">
            <mat-chip-set aria-label="Chihuahua traits">
                <mat-chip *ngFor="let tag of course.tags">{{tag}}</mat-chip>
            </mat-chip-set>
            <div class="end-flex" *ngIf="authService.authUser | async | isAdmin">
              <button mat-icon-button (click)="addCourse(course)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteCourse(course)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>
