<div class="m-4">
  <div class="row">
    <div class="col">
      <span appTitle>Courses:</span>
    </div>
  </div>
  <div class="center-flex mt-4" *ngIf="loadingCourses; else showCourses">
    <mat-spinner/>
  </div>
  <ng-template #showCourses>
    <div class="row mt-2">
      <div class="col">
        <button mat-button color="primary" (click)="addCourse()">
          <mat-icon fontIcon="add"></mat-icon>
          <span>Add new course</span>
        </button>
      </div>
    </div>
    <div class="mt-4 d-flex flex-wrap gap-3" *ngIf="courses">
      <div *ngFor="let course of courses">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ course.details }}</p>
          </mat-card-content>
          <mat-card-footer class="example-card-footer">
            <mat-chip-set aria-label="Chihuahua traits">
                <mat-chip *ngFor="let tag of course.tags">{{tag}}</mat-chip>
            </mat-chip-set>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
<!--    <div class="row mt-4">-->
<!--      <div class="col">-->
<!--        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
<!--          <ng-container matColumnDef="id">-->
<!--            <th mat-header-cell *matHeaderCellDef> Id.</th>-->
<!--            <td mat-cell *matCellDef="let student"> {{ student.id }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="fullName">-->
<!--            <th mat-header-cell *matHeaderCellDef> Full Name</th>-->
<!--            <td mat-cell *matCellDef="let student"> {{ student | studentFullName }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="email">-->
<!--            <th mat-header-cell *matHeaderCellDef> Email</th>-->
<!--            <td mat-cell *matCellDef="let student"> {{ student.email }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="createdAt">-->
<!--            <th mat-header-cell *matHeaderCellDef> Created At</th>-->
<!--            <td mat-cell *matCellDef="let student"> {{ student.createdAt | date }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="actions">-->
<!--            <th mat-header-cell *matHeaderCellDef> Actions</th>-->
<!--            <td mat-cell *matCellDef="let student">-->
<!--              <button mat-icon-button (click)="goToDetail(student)">-->
<!--                <mat-icon>info</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button (click)="addStudent(student)">-->
<!--                <mat-icon>edit</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button (click)="handleStudentDeletion(student)">-->
<!--                <mat-icon>delete</mat-icon>-->
<!--              </button>-->
<!--            </td>-->
<!--          </ng-container>-->
<!--          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
  </ng-template>
</div>
