.course-form {
  width: 40vw;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.full-width {
  width: 100%;
}

